$breakpoint-mobile: 767px;
$breakpoint-desktop: $breakpoint-mobile;

$content-width-lg: 1280px;

$grid-base: 16px;

$color-brand-dark: #181818;
$color-brand-icon: #00ceff;
$color-brand-button: #6bf5a3;
$color-brand-white: #fafafa;
$color-brand-text: $color-brand-white;

$font-family-base: 'Ubuntu', sans-serif;

$font-size-base: 14px;
$font-size-small: 12px;